<!DOCTYPE html>
<html>
  <head>
    <title>Reserva de salas!</title>
    <meta charset='utf-8' />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="no">
    <meta content='True' name='HandheldFriendly' />
    <meta name="robots" content="noindex">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
  </head>

  <body>
    <%= yield %>
  </body>
  <script type="text/javascript">
  <% if current_user %>
  window.currentUser = {
    "id" : <%= current_user[:id] %>,
    "uid" : <%= current_user[:uid] %>,
    "first_name" : "<%= current_user[:first_name] %>",
    "last_name" : "<%= current_user[:last_name] %>",
    "email" : "<%= current_user[:email] %>",
    "avatar" : "<%= current_user[:avatar] %>",
    "oauth_token" : "<%= current_user[:oauth_token] %>"
  };
  <% else %>
  window.currentUser = null;
  <% end %>
  </script>
  <%= javascript_pack_tag 'vendor' %>
  <%= javascript_pack_tag 'homeland' %>
</html>
